@media screen and (max-width: 1629px) {
  .hero-title {
    margin-block: 120px;
  }

  .works-imgs img {
    width: 30%;
  }
}

@media screen and (max-width: 1600px) {
  #services {
    gap: 60px;
  }
  #services .card {
    width: 30%;
  }

  .card-img,
  .card-img img {
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .card-img {
    height: 205px;
  }

  #services .card {
    width: 23%;
  }
}

@media screen and (max-width: 1200px) {
  .card-img {
    height: 167px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-list {
    justify-content: space-around;
    gap: unset;
    width: auto;
  }

  .card-img {
    height: 135px;
  }

  .card-title {
    font-size: 22px;
  }

  #partners img {
    width: 20%;
  }
}

@media screen and (max-width: 900px) {
  .footer-top {
    flex-wrap: wrap;
    gap: 60px;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (max-width: 770px) {
  .card-img {
    height: 100px;
  }
  .nav-list li:first-child,
  .nav-list li:last-child,
  .nav-list li:nth-child(4) {
    margin: 0;
  }

  .hero-title {
    margin-block: 160px;
    font-size: 50px;
  }

  #info img {
    margin-top: 45px;
    margin-bottom: 20px;
    width: 50px;
  }

  #partners {
    margin-block: 60px;
  }

  #works h2 {
    font-size: 35px;
  }

  .works-list {
    gap: 35px;
  }

  .card-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .cards-big,
  .works-imgs {
    display: none;
  }

  .swiper {
    display: block;
  }

  #services .card,
  #works img {
    width: 46%;
  }

  .card-img {
    height: 179px;
  }
}

@media screen and (max-width: 610px) {
  .swiper {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  nav .nav-list li:nth-child(2),
  nav .nav-list li:nth-child(3),
  nav .nav-list li:nth-child(5),
  nav .nav-list li:nth-child(6) {
    display: none;
  }

  aside .nav-list {
    display: flex;
    flex-direction: column;
  }

  .hero-title {
    margin-block: 180px;
    font-size: 38px;
  }

  .works-list {
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-top li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #info > p {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .swiper {
    width: 250px;
  }

  .card-img {
    height: 87px;
  }

  #works img {
    width: 55%;
  }

  footer {
    margin: 50px auto 50px;
  }

  #info p {
    margin-bottom: 0;
  }
}
